body {
	background-color: #000000;
}

div {
	text-align: center;
}
table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	background-color: #000000;
	color: #FFFFFF;
}

tr {
 	border-bottom: thin solid #565656;
}

th {
	background-color: #333333;
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FDFD00;
	font-size: 1.8em;
}

td {
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
}

a:link {
	color: #928A70;
	text-decoration: none;
}

a:visited {
	color: #928A70;
}

a:hover {
	color: #00AC00;
}

a:active {
	text-decoration: underline;
}

.inner {padding: 0; margin: 0;}

.small {font-size: .8em;}

/*
* COLORS
*/
.magic {color: #454CB0}
.rare {color: #FDFD00}
.crafted {color: #EF9A00}
.set {color: #00AC00}
.unique {color: #928A70}