body {
  padding-top: 120px;
  text-align: center;
  font-family: "Arial";
}

.about-text p {
  margin-left: 60px;
  padding: 5px;
  text-align: center;
  font-family: "Arial";
}

.privacy-text p {
  margin-left: 60px;
  padding: 5px;
  text-align: left;
  font-family: "Arial";
}

nav {
  text-align: center;
  position: fixed !important;
}

/* Navbar header */
.header {
  font-variant: small-caps;
  font-size: 1.7rem;
}

/* Side Icon Bar */
.icon-bar {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.8;
  z-index: 9999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
  color: #fff;
}

.icon-bar a:hover {
  text-decoration: none;
  color: #fff;
}

.side-icon {
  background: #868e96;
}

/* Carousel */
.carouselTitle {
  font-size: 24px;
  font-weight: 100;
  color: white;
  text-shadow: 0 1px 2px #000;
  position: absolute;
  bottom: 29px;
  left: 1px;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
}

/* Services */
.design {
  color: #fc03e3;
}

.manufacture {
  color: #3dfc03;
}

.install {
  color: #03fcdf;
}

.maintain {
  color: #fc5603;
}

/* Team - about */
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
  height: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;

}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}


/* Footer Section */
footer {
  border-top: 2px solid #332e20;
  color: #fff;
}

.ft-link a:link {
  text-decoration: none;
  color: #868e96;
}

.ft-link a:visited {
  text-decoration: none;
  color: #868e96;
}

.ft-link a:hover {
  text-decoration: none;
  color: #fff;
}

.ft-link a:focus {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  font-family: sans-serif;
  font-size: 0.8rem;
}
